body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #071021, #052d17);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

/* Контейнер */
.container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Інпут */
input {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Кнопка */
button {
    width: 100%;
    padding: 12px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background: #d46fff;
    color: white;
    transition: 0.2s;
}

button:hover {
    background: #c357f5;
}

/* Куля */
.ball {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, #654ea3, #000000);
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 25px #b95df7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ball::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("texture.png");
    background-size: cover;
    opacity: 0.45;
    border-radius: 50%;
}

.answer {
    position: relative;
    font-size: 26px;
    font-weight: bold;
    z-index: 2;
    padding: 10px;
}
